<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow "
  >
    <div class="container-fluid">
      <!-- <a class="navbar-brand" [routerLink]="['/']">Symas_Angular</a> -->
      <span id="btnSideNav" style="visibility: hidden; font-size:30px;cursor:pointer;color:rgba(0, 0, 0, 0.5);margin-right:5px;" (click)="openNav()">&#9776;</span>
      <a class="navbar-brand" >
        <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Bootstrap
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-ligth" [routerLink]="['/home']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-ligth" [routerLink]="['/counter']"
              >Counter</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-ligth" [routerLink]="['/fetch-data']"
              >Fetch data</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
