<div class="flex flex-col flex-auto min-h-0 relative z-10">
  <div class="jss2125">
    <div class="jss2127"></div>
    <div class="flex w-full">
      <div class="jss2128">
        <div class="jss2129">
          <div class="py-24">
            <h4>{{layoutService.title}}</h4>
          </div>
        </div>
        <div class="jss2131">
          <div class="jss2132">
            <div class="px-24">
              <h4>Content ToolBar</h4>
            </div>
          </div>
          <div class="jss450 jss2133 ps" style="position: relative;">
            <div class="p-24">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>