<div class='flex flex-col flex-auto min-h-0 relative z-10'>
  <div class="jss1421">
    <div class="jss1424 jss1425"></div>
    <div class="flex flex-auto flex-col z-10 h-full">
      <div class="jss1424">
        <div class="p-24">
          <h4>Header</h4>
        </div>
      </div>
      <div class="jss1427">
        <div class="p-24">
          <h4>Content ToolBar</h4>
        </div>
      </div>
      <div class="jss1428">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>