 <body> 
  <div id="mySidenav" class="sidenav">
    <div class="flex flex-auto flex-col h-full jss2036">
      <header style="height: 64px;min-height: 64px;" class="jss2008 jss2038 jss2042 jss2045 flex flex-row items-center flex-shrink px-12 shadow-0 jss2015">
        <div class="flex flex-1 mx-4">
          <div class="jss2049 flex items-center">
            <img class="w-24 h-24" src="http://react-material.fusetheme.com/assets/images/logos/fuse.svg" />
            <p class="jss2051 text-16 leading-none mx-12 font-medium logo-text jss2053 jss2073">FUSE</p>
          </div>
          <mat-icon style="cursor: pointer;" aria-hidden="false" aria-label="Example menu_open icon" (click)="closeNav()">menu_open</mat-icon>
        </div>
      </header>
      <header class="jss498 jss487 jss580 jss491 jss494 user relative flex flex-col items-center justify-center pt-24 pb-64 mb-32 z-0 shadow-0 jss505">
        <p style="font-size: 18px;" class="jss1848 username whitespace-nowrap font-semibold jss1850 jss1870">
          Gustavo Bañuelos
        </p>
        <p style="font-size: 13px;" class="jss1848 email opacity-50 whitespace-nowrap font-medium jss1850 jss1870">
          gbanuelos94@gmail.com
        </p>
        <div class="flex items-center justify-center absolute bottom-0">
          <div style='width: 72px;height: 72px;' class="jss1902 jss1904 jss1901 avatar w-72 h-72 p-8 box-content">
            <img alt="user photo" src="http://react-material.fusetheme.com/assets/images/avatars/Velazquez.jpg" class="jss1908" />
          </div>
        </div>
      </header>
      <ul style="margin: 0 0 0 0;list-style-type: none;padding: 10px;width: 100%;">
        <li 
        *ngFor="let shoe of typesOfShoes" [value]="shoe"
        >
        <button color="accent" mat-raised-button style="width: 100%;margin-bottom: 5px; background-color: #22d3ee;" >{{shoe}}</button>
        </li>
        <li>
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
              <mat-expansion-panel-header  style="background-color: orange;">
                <mat-panel-title>
                  Self aware panel
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>I'm visible because I am open</p>
            </mat-expansion-panel>
          </mat-accordion>
        </li>
      </ul>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>
  </div>

  <div id="main" style="margin-left: 250px;">
    <app-nav-menu></app-nav-menu>
    <div style="width: 100%;">
      <!-- <app-simplePage></app-simplePage>  -->
      <app-pageCarded></app-pageCarded>
    </div>  
  </div>
</body> 
